<!DOCTYPE html>
<html>
<head>
  <title>Chatbot</title>

  <style>
    .user {
      background: blue;
      color: white;
    }

    .bot {
      background: grey;
    }
  </style>

</head>

<body>

  <h1>Chatbot</h1>

  <div id="chatbox">
    <div id="chat-display"></div>

    <input type="text" id="user-input">
    <button onclick="sendMessage()">Send</button>

  </div>

  <script>
    function appendMessage(who, message) {
      let time = new Date().toLocaleTimeString();
      let className = 'bot';

      if (who === 'You') {
        className = 'user';
      }

      const msgDiv = document.createElement('div');
      msgDiv.classList.add(className);
      msgDiv.innerHTML = `<strong>${time} ${who}:</strong> ${message}`;

      chatDisplay.appendChild(msgDiv);
      msgDiv.style.opacity = 0;

      setTimeout(() => {
        msgDiv.style.opacity = 1;
        chatDisplay.scrollTop = chatDisplay.scrollHeight;
      }, 100);
    }

    function sendMessage() {
      let userInput = document.getElementById('user-input').value;

      if (userInput.trim() !== '') {
        appendMessage('You', userInput);

        document.getElementById('user-input').value = '';

        appendMessage('ChatBot', 'Typing...');

        fetch('/get_response', {
          method: 'POST',
          body: JSON.stringify({
            message: userInput
          })
        }).then(res => res.json())
          .then(data => {
            appendMessage('ChatBot', data.response);
          });
      }
    }

    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('user-input').focus();
    });
  </script>

</body>
</html>